<!DOCTYPE html>
{% extends "AppBlog/padre.html" %}

{% load static %}

        {% block contenido2 %}
        <h1 class="masthead-heading text-uppercase mb-0">BLOGS Registrados en la BD</h1>
        {% endblock %}

        {% block contenido %}

                {% for b in hijos %}

                        <ul><li>   {{ h }}  </li></ul>
                        <button>
                                <a href="{% url 'EliminarHijo' h.numero %}">Eliminar</a>
                                <a href="{% url 'EditarHijo' h.numero %}">Editar</a>
                        </button>
                        <br>
                {% endfor %}

                <a href="{% url 'HijoFormulario'%}">Añadir otro Blog</a>

        
        {% endblock %}

<br>
<br>
<br>
<h1 style="text-align: center; color:rgb(179, 52, 14); font-size:40px">Aca estan los Blogs </h1>
